=begin
#Placetel API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.0-SNAPSHOT

=end

require 'cgi'

module PlacetelAPI
  class PromptsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a prompt
    # Delete a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_prompts_id(id, opts = {})
      delete_prompts_id_with_http_info(id, opts)
      nil
    end

    # Delete a prompt
    # Delete a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_prompts_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.delete_prompts_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.delete_prompts_id"
      end
      # resource path
      local_var_path = '/prompts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#delete_prompts_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch all prompts
    # Provides a list of all prompts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name 
    # @option opts [String] :filter_description 
    # @option opts [Integer] :page Page of results to fetch. (default to 1)
    # @option opts [Integer] :per_page Number of results to return per page. (default to 25)
    # @return [Array<Prompt>]
    def get_prompts(opts = {})
      data, _status_code, _headers = get_prompts_with_http_info(opts)
      data
    end

    # Fetch all prompts
    # Provides a list of all prompts
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_name 
    # @option opts [String] :filter_description 
    # @option opts [Integer] :page Page of results to fetch.
    # @option opts [Integer] :per_page Number of results to return per page.
    # @return [Array<(Array<Prompt>, Integer, Hash)>] Array<Prompt> data, response status code and response headers
    def get_prompts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.get_prompts ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.get_prompts, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling PromptsApi.get_prompts, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/prompts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filter[name]'] = opts[:'filter_name'] if !opts[:'filter_name'].nil?
      query_params[:'filter[description]'] = opts[:'filter_description'] if !opts[:'filter_description'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<Prompt>' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a prompt
    # Fetches a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param [Hash] opts the optional parameters
    # @return [Prompt]
    def get_prompts_id(id, opts = {})
      data, _status_code, _headers = get_prompts_id_with_http_info(id, opts)
      data
    end

    # Retrieve a prompt
    # Fetches a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Prompt, Integer, Hash)>] Prompt data, response status code and response headers
    def get_prompts_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.get_prompts_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.get_prompts_id"
      end
      # resource path
      local_var_path = '/prompts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Prompt' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#get_prompts_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a prompt
    # Creates a new prompt
    # @param prompts [PostPrompts] 
    # @param [Hash] opts the optional parameters
    # @return [Prompt]
    def post_prompts(prompts, opts = {})
      data, _status_code, _headers = post_prompts_with_http_info(prompts, opts)
      data
    end

    # Create a prompt
    # Creates a new prompt
    # @param prompts [PostPrompts] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Prompt, Integer, Hash)>] Prompt data, response status code and response headers
    def post_prompts_with_http_info(prompts, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.post_prompts ...'
      end
      # verify the required parameter 'prompts' is set
      if @api_client.config.client_side_validation && prompts.nil?
        fail ArgumentError, "Missing the required parameter 'prompts' when calling PromptsApi.post_prompts"
      end
      # resource path
      local_var_path = '/prompts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(prompts) 

      # return_type
      return_type = opts[:return_type] || 'Prompt' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#post_prompts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a prompt
    # Update a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param prompts [PutPrompts] 
    # @param [Hash] opts the optional parameters
    # @return [Prompt]
    def put_prompts_id(id, prompts, opts = {})
      data, _status_code, _headers = put_prompts_id_with_http_info(id, prompts, opts)
      data
    end

    # Update a prompt
    # Update a prompt by its ID
    # @param id [Integer] Prompt ID
    # @param prompts [PutPrompts] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Prompt, Integer, Hash)>] Prompt data, response status code and response headers
    def put_prompts_id_with_http_info(id, prompts, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PromptsApi.put_prompts_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PromptsApi.put_prompts_id"
      end
      # verify the required parameter 'prompts' is set
      if @api_client.config.client_side_validation && prompts.nil?
        fail ArgumentError, "Missing the required parameter 'prompts' when calling PromptsApi.put_prompts_id"
      end
      # resource path
      local_var_path = '/prompts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(prompts) 

      # return_type
      return_type = opts[:return_type] || 'Prompt' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PromptsApi#put_prompts_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
