=begin
#Placetel API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.0-SNAPSHOT

=end

require 'cgi'

module PlacetelAPI
  class ProvisioningsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a phone provisionings
    # Delete a phone provisioning
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_provisionings_id(id, opts = {})
      delete_provisionings_id_with_http_info(id, opts)
      nil
    end

    # Delete a phone provisionings
    # Delete a phone provisioning
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_provisionings_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.delete_provisionings_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvisioningsApi.delete_provisionings_id"
      end
      # resource path
      local_var_path = '/provisionings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#delete_provisionings_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all phone provisionings
    # Provides a full list of all registered provisioned phones
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page Page of results to fetch. (default to 1)
    # @option opts [Integer] :per_page Number of results to return per page. (default to 25)
    # @return [Array<Provisioning>]
    def get_provisionings(opts = {})
      data, _status_code, _headers = get_provisionings_with_http_info(opts)
      data
    end

    # Get all phone provisionings
    # Provides a full list of all registered provisioned phones
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search 
    # @option opts [Integer] :page Page of results to fetch.
    # @option opts [Integer] :per_page Number of results to return per page.
    # @return [Array<(Array<Provisioning>, Integer, Hash)>] Array<Provisioning> data, response status code and response headers
    def get_provisionings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.get_provisionings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ProvisioningsApi.get_provisionings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling ProvisioningsApi.get_provisionings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/provisionings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<Provisioning>' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#get_provisionings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a phone provisionings
    # Fetches a phone provisioning by its ID
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Provisioning]
    def get_provisionings_id(id, opts = {})
      data, _status_code, _headers = get_provisionings_id_with_http_info(id, opts)
      data
    end

    # Retrieve a phone provisionings
    # Fetches a phone provisioning by its ID
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provisioning, Integer, Hash)>] Provisioning data, response status code and response headers
    def get_provisionings_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.get_provisionings_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvisioningsApi.get_provisionings_id"
      end
      # resource path
      local_var_path = '/provisionings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Provisioning' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#get_provisionings_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a phone provisionings
    # Creates a phone provisioning
    # @param provisionings [PostProvisionings] 
    # @param [Hash] opts the optional parameters
    # @return [Provisioning]
    def post_provisionings(provisionings, opts = {})
      data, _status_code, _headers = post_provisionings_with_http_info(provisionings, opts)
      data
    end

    # Creates a phone provisionings
    # Creates a phone provisioning
    # @param provisionings [PostProvisionings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provisioning, Integer, Hash)>] Provisioning data, response status code and response headers
    def post_provisionings_with_http_info(provisionings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.post_provisionings ...'
      end
      # verify the required parameter 'provisionings' is set
      if @api_client.config.client_side_validation && provisionings.nil?
        fail ArgumentError, "Missing the required parameter 'provisionings' when calling ProvisioningsApi.post_provisionings"
      end
      # resource path
      local_var_path = '/provisionings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(provisionings) 

      # return_type
      return_type = opts[:return_type] || 'Provisioning' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#post_provisionings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger reconfiguration of a phone
    # This sends a SIP command to the user on line 1 to fetch configuration changes.
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Provisioning]
    def post_provisionings_id_reconfigure(id, opts = {})
      data, _status_code, _headers = post_provisionings_id_reconfigure_with_http_info(id, opts)
      data
    end

    # Trigger reconfiguration of a phone
    # This sends a SIP command to the user on line 1 to fetch configuration changes.
    # @param id [Integer] ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provisioning, Integer, Hash)>] Provisioning data, response status code and response headers
    def post_provisionings_id_reconfigure_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.post_provisionings_id_reconfigure ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvisioningsApi.post_provisionings_id_reconfigure"
      end
      # resource path
      local_var_path = '/provisionings/{id}/reconfigure'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Provisioning' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#post_provisionings_id_reconfigure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a phone provisionings
    # Updates a phone provisioning
    # @param id [Integer] ID
    # @param provisionings [PutProvisionings] 
    # @param [Hash] opts the optional parameters
    # @return [Provisioning]
    def put_provisionings_id(id, provisionings, opts = {})
      data, _status_code, _headers = put_provisionings_id_with_http_info(id, provisionings, opts)
      data
    end

    # Update a phone provisionings
    # Updates a phone provisioning
    # @param id [Integer] ID
    # @param provisionings [PutProvisionings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Provisioning, Integer, Hash)>] Provisioning data, response status code and response headers
    def put_provisionings_id_with_http_info(id, provisionings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProvisioningsApi.put_provisionings_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProvisioningsApi.put_provisionings_id"
      end
      # verify the required parameter 'provisionings' is set
      if @api_client.config.client_side_validation && provisionings.nil?
        fail ArgumentError, "Missing the required parameter 'provisionings' when calling ProvisioningsApi.put_provisionings_id"
      end
      # resource path
      local_var_path = '/provisionings/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(provisionings) 

      # return_type
      return_type = opts[:return_type] || 'Provisioning' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProvisioningsApi#put_provisionings_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
