=begin
#Placetel API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.0-SNAPSHOT

=end

require 'cgi'

module PlacetelAPI
  class RoutingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a routing object
    # Delete a routing object
    # @param number_or_id [String] A number or an ID
    # @param [Hash] opts the optional parameters
    # @return [RoutingObject]
    def delete_routings_number_or_id(number_or_id, opts = {})
      data, _status_code, _headers = delete_routings_number_or_id_with_http_info(number_or_id, opts)
      data
    end

    # Delete a routing object
    # Delete a routing object
    # @param number_or_id [String] A number or an ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingObject, Integer, Hash)>] RoutingObject data, response status code and response headers
    def delete_routings_number_or_id_with_http_info(number_or_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingsApi.delete_routings_number_or_id ...'
      end
      # verify the required parameter 'number_or_id' is set
      if @api_client.config.client_side_validation && number_or_id.nil?
        fail ArgumentError, "Missing the required parameter 'number_or_id' when calling RoutingsApi.delete_routings_number_or_id"
      end
      # resource path
      local_var_path = '/routings/{number_or_id}'.sub('{' + 'number_or_id' + '}', CGI.escape(number_or_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoutingObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingsApi#delete_routings_number_or_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all routings
    # Provides a list of routing
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page of results to fetch. (default to 1)
    # @option opts [Integer] :per_page Number of results to return per page. (default to 25)
    # @return [Array<RoutingObject>]
    def get_routings(opts = {})
      data, _status_code, _headers = get_routings_with_http_info(opts)
      data
    end

    # Get all routings
    # Provides a list of routing
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page of results to fetch.
    # @option opts [Integer] :per_page Number of results to return per page.
    # @return [Array<(Array<RoutingObject>, Integer, Hash)>] Array<RoutingObject> data, response status code and response headers
    def get_routings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingsApi.get_routings ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RoutingsApi.get_routings, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RoutingsApi.get_routings, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/routings'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoutingObject>' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingsApi#get_routings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrive routing
    # Fetches a routing
    # @param number_or_id [String] A number or an ID
    # @param [Hash] opts the optional parameters
    # @return [RoutingObject]
    def get_routings_number_or_id(number_or_id, opts = {})
      data, _status_code, _headers = get_routings_number_or_id_with_http_info(number_or_id, opts)
      data
    end

    # Retrive routing
    # Fetches a routing
    # @param number_or_id [String] A number or an ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingObject, Integer, Hash)>] RoutingObject data, response status code and response headers
    def get_routings_number_or_id_with_http_info(number_or_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingsApi.get_routings_number_or_id ...'
      end
      # verify the required parameter 'number_or_id' is set
      if @api_client.config.client_side_validation && number_or_id.nil?
        fail ArgumentError, "Missing the required parameter 'number_or_id' when calling RoutingsApi.get_routings_number_or_id"
      end
      # resource path
      local_var_path = '/routings/{number_or_id}'.sub('{' + 'number_or_id' + '}', CGI.escape(number_or_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoutingObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingsApi#get_routings_number_or_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a routing object
    # Create a routing object. Routing can be created as: `forward`, `group`, `ivr`, `queue` or `api`
    # @param routings [PostRoutings] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingObject]
    def post_routings(routings, opts = {})
      data, _status_code, _headers = post_routings_with_http_info(routings, opts)
      data
    end

    # Create a routing object
    # Create a routing object. Routing can be created as: &#x60;forward&#x60;, &#x60;group&#x60;, &#x60;ivr&#x60;, &#x60;queue&#x60; or &#x60;api&#x60;
    # @param routings [PostRoutings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingObject, Integer, Hash)>] RoutingObject data, response status code and response headers
    def post_routings_with_http_info(routings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingsApi.post_routings ...'
      end
      # verify the required parameter 'routings' is set
      if @api_client.config.client_side_validation && routings.nil?
        fail ArgumentError, "Missing the required parameter 'routings' when calling RoutingsApi.post_routings"
      end
      # resource path
      local_var_path = '/routings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(routings) 

      # return_type
      return_type = opts[:return_type] || 'RoutingObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingsApi#post_routings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update routing
    # Updates the routing object. Routing can be set to: `forward`, `group`, `plan`, `ivr`, `queue` or `api`
    # @param number_or_id [String] A number or an ID
    # @param routings [PutRoutings] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingObject]
    def put_routings_number_or_id(number_or_id, routings, opts = {})
      data, _status_code, _headers = put_routings_number_or_id_with_http_info(number_or_id, routings, opts)
      data
    end

    # Update routing
    # Updates the routing object. Routing can be set to: &#x60;forward&#x60;, &#x60;group&#x60;, &#x60;plan&#x60;, &#x60;ivr&#x60;, &#x60;queue&#x60; or &#x60;api&#x60;
    # @param number_or_id [String] A number or an ID
    # @param routings [PutRoutings] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingObject, Integer, Hash)>] RoutingObject data, response status code and response headers
    def put_routings_number_or_id_with_http_info(number_or_id, routings, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingsApi.put_routings_number_or_id ...'
      end
      # verify the required parameter 'number_or_id' is set
      if @api_client.config.client_side_validation && number_or_id.nil?
        fail ArgumentError, "Missing the required parameter 'number_or_id' when calling RoutingsApi.put_routings_number_or_id"
      end
      # verify the required parameter 'routings' is set
      if @api_client.config.client_side_validation && routings.nil?
        fail ArgumentError, "Missing the required parameter 'routings' when calling RoutingsApi.put_routings_number_or_id"
      end
      # resource path
      local_var_path = '/routings/{number_or_id}'.sub('{' + 'number_or_id' + '}', CGI.escape(number_or_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(routings) 

      # return_type
      return_type = opts[:return_type] || 'RoutingObject' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingsApi#put_routings_number_or_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
