=begin
#Placetel API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 4.3.0-SNAPSHOT

=end

require 'cgi'

module PlacetelAPI
  class RoutingPlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a routing plan
    # Delete a routing plan
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPlan]
    def delete_routing_plans_id(id, opts = {})
      data, _status_code, _headers = delete_routing_plans_id_with_http_info(id, opts)
      data
    end

    # Delete a routing plan
    # Delete a routing plan
    # @param id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPlan, Integer, Hash)>] RoutingPlan data, response status code and response headers
    def delete_routing_plans_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.delete_routing_plans_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingPlansApi.delete_routing_plans_id"
      end
      # resource path
      local_var_path = '/routing_plans/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoutingPlan' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#delete_routing_plans_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all routing plans
    # Provides a list of routing plans
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page of results to fetch. (default to 1)
    # @option opts [Integer] :per_page Number of results to return per page. (default to 25)
    # @return [Array<RoutingPlan>]
    def get_routing_plans(opts = {})
      data, _status_code, _headers = get_routing_plans_with_http_info(opts)
      data
    end

    # Get all routing plans
    # Provides a list of routing plans
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page of results to fetch.
    # @option opts [Integer] :per_page Number of results to return per page.
    # @return [Array<(Array<RoutingPlan>, Integer, Hash)>] Array<RoutingPlan> data, response status code and response headers
    def get_routing_plans_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.get_routing_plans ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RoutingPlansApi.get_routing_plans, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] < 0
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling RoutingPlansApi.get_routing_plans, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/routing_plans'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'Array<RoutingPlan>' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#get_routing_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a routing plans
    # Get a routing plans
    # @param id [String] ID of a routing plan
    # @param [Hash] opts the optional parameters
    # @return [RoutingPlan]
    def get_routing_plans_id(id, opts = {})
      data, _status_code, _headers = get_routing_plans_id_with_http_info(id, opts)
      data
    end

    # Get a routing plans
    # Get a routing plans
    # @param id [String] ID of a routing plan
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPlan, Integer, Hash)>] RoutingPlan data, response status code and response headers
    def get_routing_plans_id_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.get_routing_plans_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingPlansApi.get_routing_plans_id"
      end
      # resource path
      local_var_path = '/routing_plans/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoutingPlan' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#get_routing_plans_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulate the usage of a routing plan
    # Simulate the usage of a routing plan
    # @param id [String] The ID of the routing plan
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :time The time at which the simulated call would happen
    # @return [RoutingPlan]
    def get_routing_plans_id_simulate(id, opts = {})
      data, _status_code, _headers = get_routing_plans_id_simulate_with_http_info(id, opts)
      data
    end

    # Simulate the usage of a routing plan
    # Simulate the usage of a routing plan
    # @param id [String] The ID of the routing plan
    # @param [Hash] opts the optional parameters
    # @option opts [DateTime] :time The time at which the simulated call would happen
    # @return [Array<(RoutingPlan, Integer, Hash)>] RoutingPlan data, response status code and response headers
    def get_routing_plans_id_simulate_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.get_routing_plans_id_simulate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingPlansApi.get_routing_plans_id_simulate"
      end
      # resource path
      local_var_path = '/routing_plans/{id}/simulate'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'time'] = opts[:'time'] if !opts[:'time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      # return_type
      return_type = opts[:return_type] || 'RoutingPlan' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#get_routing_plans_id_simulate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a routing plan
    # Create a routing plan
    # @param routing_plans [PostRoutingPlans] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPlan]
    def post_routing_plans(routing_plans, opts = {})
      data, _status_code, _headers = post_routing_plans_with_http_info(routing_plans, opts)
      data
    end

    # Create a routing plan
    # Create a routing plan
    # @param routing_plans [PostRoutingPlans] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPlan, Integer, Hash)>] RoutingPlan data, response status code and response headers
    def post_routing_plans_with_http_info(routing_plans, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.post_routing_plans ...'
      end
      # verify the required parameter 'routing_plans' is set
      if @api_client.config.client_side_validation && routing_plans.nil?
        fail ArgumentError, "Missing the required parameter 'routing_plans' when calling RoutingPlansApi.post_routing_plans"
      end
      # resource path
      local_var_path = '/routing_plans'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(routing_plans) 

      # return_type
      return_type = opts[:return_type] || 'RoutingPlan' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#post_routing_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a routing plan
    # Update a routing plan
    # @param id [Integer] 
    # @param routing_plans [PutRoutingPlans] 
    # @param [Hash] opts the optional parameters
    # @return [RoutingPlan]
    def put_routing_plans_id(id, routing_plans, opts = {})
      data, _status_code, _headers = put_routing_plans_id_with_http_info(id, routing_plans, opts)
      data
    end

    # Update a routing plan
    # Update a routing plan
    # @param id [Integer] 
    # @param routing_plans [PutRoutingPlans] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RoutingPlan, Integer, Hash)>] RoutingPlan data, response status code and response headers
    def put_routing_plans_id_with_http_info(id, routing_plans, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutingPlansApi.put_routing_plans_id ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RoutingPlansApi.put_routing_plans_id"
      end
      # verify the required parameter 'routing_plans' is set
      if @api_client.config.client_side_validation && routing_plans.nil?
        fail ArgumentError, "Missing the required parameter 'routing_plans' when calling RoutingPlansApi.put_routing_plans_id"
      end
      # resource path
      local_var_path = '/routing_plans/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] || @api_client.object_to_http_body(routing_plans) 

      # return_type
      return_type = opts[:return_type] || 'RoutingPlan' 

      # auth_names
      auth_names = opts[:auth_names] || ['Bearer']

      new_options = opts.merge(
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutingPlansApi#put_routing_plans_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
